.message-signing-page {
	padding: var(--spacing-sm);
}

.page-title {
	color: var(--color-primary);
	font-size: var(--font-size-title);
	text-align: center;
}

.page-description {
	color: var(--color-text-secondary);
	font-size: var(--font-size-subtitle);
	text-align: center;
	margin-top: var(--spacing-xs);
	margin-bottom: var(--spacing-lg);
}

/* form styles */
.msg-form {
	display: flex;
	flex: 1;
	min-width: 300px;
	box-sizing: border-box;
	flex-direction: column;
	gap: var(--spacing-md);
	background-color: var(--form-bg-color);
	padding: var(--spacing-md);
	border-radius: var(--radius-md);
	border: 1px solid var(--form-border-color);
}

.msg-form-title {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--color-text-primary);
}

.msg-form-description {
	font-size: var(--font-size-subtitle);
	color: var(--color-text-secondary);
}

.form-item {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.form-item label {
	font-size: var(--font-size-subtitle);
	color: var(--color-text-secondary);
}

.form-item input,
.form-item select {
	padding: var(--spacing-xs);
	border-radius: var(--radius-sm);
	border: 1px solid var(--form-border-color);
}

.form-item textarea {
	padding: var(--spacing-xs);
	border-radius: var(--radius-sm);
	border: 1px solid var(--form-border-color);
}

/* 自定义下拉样式 */
.custom-select {
	position: relative;
	display: inline-block;
	width: 100%;
}

.select-trigger:hover {
	background-color: var(--form-item-bg-hover-color);
	cursor: pointer;
}

.select-trigger {
	padding: var(--spacing-xs);
	border-radius: var(--radius-sm);
	border: 1px solid var(--form-border-color);
	background-color: var(--form-item-bg-color);
	transition: background-color 0.2s ease; /* 添加过渡动画 */
}

.select-arrow {
	position: absolute;
	right: var(--spacing-xs);
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.2s ease; /* 添加过渡动画 */
}
.select-arrow.rotate-180 {
	transform: translateY(-50%) rotate(180deg);
}

/* 下拉浮层样式 */
.select-dropdown {
	position: absolute;
	top: 110%;
	left: 0;
	right: 0;
	width: 100%;
	background-color: var(--form-item-bg-color);
	border-radius: var(--radius-sm);
}

.select-dropdown .dropdown-option {
	padding: var(--spacing-sm);
	border-radius: var(--radius-sm);
	background-color: var(--form-item-bg-color);
}

.dropdown-option:hover {
	background-color: var(--form-item-bg-hover-color);
	cursor: pointer;
}

/* 下拉浮层动画 */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* input styles */
.form-item-inputs {
	display: flex;
	flex: 1;
	min-width: 300px;
	box-sizing: border-box;
	align-items: center;
	gap: var(--spacing-xs);
}

.form-item-label-line {
	border-bottom: 1px solid var(--form-border-color);
	padding-bottom: var(--spacing-xs);
}

.form-item-input {
	width: 100%;
	height: 100%;
	padding: var(--spacing-xs);
	border-radius: var(--radius-sm);
	border: 1px solid var(--form-border-color);
	background-color: var(--form-item-bg-color);
}

.form-item-del-btn {
	background-color: var(--form-btn-error-color);
	color: #ff4d50;
	font-size: var(--font-size-body);
	padding: var(--spacing-xs);
	border-radius: var(--radius-sm);
	border: 1px solid var(--color-error);
}

.form-item-del-btn:hover {
	background-color: #ff4d50;
	color: var(--color-text-primary);
	cursor: pointer;
}

.form-item-btn-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.form-item-add-btn {
	background-color: var(--form-item-bg-color);
	color: var(--color-text-primary);
	font-size: var(--font-size-body);
	padding: var(--spacing-xs);
	border-radius: var(--radius-sm);
	border: 1px dashed var(--form-border-color);
	cursor: pointer;
	width: 300px;
}

.form-item-add-btn:hover {
	background-color: var(--form-item-bg-hover-color);
	color: var(--color-text-primary);
}

.form-item-index {
	font-size: var(--font-size-body);
	color: var(--color-text-secondary);
}

/* cards styles */
.form-item-cards {
	display: flex;
	flex: 1;
	min-width: 300px;
	box-sizing: border-box;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-xs);
	border: 1px solid var(--form-border-color);
	border-radius: var(--radius-sm);
	padding: var(--spacing-xs);
	background-color: var(--form-item-bg-color);
}

.form-item-card-title {
	font-size: var(--font-size-body);
	color: var(--color-text-secondary);
}

/* textarea styles */
.form-item-textarea {
	width: 100%;
	resize: none;
	padding: var(--spacing-xs);
	border-radius: var(--radius-sm);
	border: 1px solid var(--form-border-color);
	background-color: var(--form-item-bg-color);
	color: var(--color-text-primary);
	font-size: var(--font-size-subtitle);
	font-family: var(--font-family-monospace);
}

.form-item-textarea:focus {
	outline: none;
	border-color: var(--color-primary);
}

.form-button-submit {
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
  border: 1px solid var(--form-border-color);
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-size: var(--font-size-body);
  transition: all 0.2s ease;
	flex: 1;
	max-width: 300px;
}
.form-button-submit:disabled {
  cursor: not-allowed;
  background-color: var(--form-item-bg-color);
  color: var(--color-text-secondary);
  border-color: var(--form-border-color);
}

.form-button-submit:hover:not(:disabled) {
  background-color: var(--color-primary-active);
  color: var(--color-text-primary);
  cursor: pointer;
}

.form-button-submit:active:not(:disabled) {
  background-color: var(--color-primary-active);
  color: var(--color-text-primary);
}

/* result textarea styles */

.form-item-result {
  cursor: auto;
}

.form-item-result:focus {
  outline: none;
  border-color: var(--form-border-color);
}

.msg-result {
	margin-top: var(--spacing-md);
}

/* error message styles */
.form-item-error {
  color: var(--color-error);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-xs);
	text-align: center;
}

/* error message animation */
.error-fade-enter-active,
.error-fade-leave-active {
  transition: opacity 0.2s ease;
}
.error-fade-enter-from,
.error-fade-leave-to {
  opacity: 0;
}

.form-container {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-lg);
	margin: 20px 0;
	width: 100%;
	flex-wrap: wrap; /* 允许换行 */
}
